{% include 'main/header.html' %}
{% load static %}
{% load define_action %}


<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}


.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #fba70b;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #d15f13;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #fba70b;
    color: black;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #fba70b;
}
</style>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{{ profile.pic.url }}" alt=""/>
                            
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                    </h5>
                                    <h6>
                                        @{{ request.user }}
                                    </h6>
                                    " {{ profile.bio }} "
                                    
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Statistics</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                        <!--                         <a href="{% url 'edit_profile' %}" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"> Edit Profile </a>
-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>FAVOURITE GENRES</p>
                            {% for x in my_tags %}
                            <a href="{% url 'tag' x %}" style="text-transform: uppercase;">{{ x }}</a><br/>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ request.user.email }}</p>
                                            </div>
                                        </div>
                                     

                                        <div class="col-lg-8 offset-lg-2">
                                            <div class="center-heading">
                                                <h2>Your <em>Songs</em></h2>
                                            </div>
                                        </div>
                                         <!-- Topic Cards -->
      <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="row">
                {% for ob in my_songs %}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box" style="position: relative;">
                                        <img src="{{ ob.cover_image.url }}" alt="" />
                                        {% if ob.user == request.user %}
                
                                        <div class="centered-1">
                                            <a href="{% url 'update_song' ob.id %}"><i class="fa fa-edit song-update"></i></a>
                                        </div>
                                        <div class="centered-2">
                                            <a href="#" role="button"  data-toggle="modal" data-target="#exampleModal">
                                                <i class="fa fa-ban song-delete" onclick="setDeleteId({{ob.id}})"></i>
                                            </a>
                                        </div>
                                        {% endif %}
                                   
                                </div>
                                <div class="text-container">
                                    <h5 style="font-weight: 900;">{{ ob.title }}</h5>
                                    <p class="album" style="color: #d15f13;">{{ ob.album }}</p>
                                    <p class="sub"> <i class="fa fa-music"></i> {{ ob.artist }}</p>
                                    <p class="sub"> <i class="fa fa-user"></i> {{ ob.user }}</p>
                                   

                                    <form method="POST">
                                        {% csrf_token %}
                            
                                    {% if ob|get_liked:request.user == True %}
   
                                    <button id="swapHeart" class="btn btn-default" name="unsubscribe">
                                        <span class="fa fa-heart"> <span class="tooltip" style="margin-top: 20px;">Remove from favourites</span></span>
                                    </button>

                                    {% else %}

                                    <button id="swapHeart" class="btn btn-default" name="subscribe">
                                        <span class="fa fa-heart-o"> <span class="tooltip" style="margin-top: 20px;">Add to favourites</span></span>
                                    </button>

                                      {% endif %}
                                      <br>

                                    <a href="#"><span class="badge badge-warning"> {{ ob.tags }} </span></a> <br> 
                                    <audio controls id="soundPlayer" onplay="sendCount({{ob.id}});">
                                        <source src="{{ ob.file_name.url }}" type="audio/mpeg">
                                    </audio>
                                   
                                    <input class="inv" name="songid" type="number" value="{{ob.id}}"> 
                                </div>
                            </div>
                        </div>
                </div>
                
            </form>

                
                {% endfor %}
            </div>
        </div>
    </div>

                                          <!-- ***** Testimonials Starts ***** -->
    
        Your following 
        {% for ob in f %}
                    <a href="{% url 'view_profile' ob.user2.id %} ">
                      <div class="item service-item">
                          <div class="author">
                              <i><img src="{{ ob.profile2.pic.url }}" alt="Author One" height="100" width="100"></i>
                          </div>
                          <div class="testimonial-content">
                              
                              <h4> {{ob.user2}}  </h4>
                              
                              <span>  {{ob.profile2.bio}}  </span>
                          </div>
                      </div>
                      </a>
                      {% endfor %}

                      Your followers 
                      {% for ob in f2 %}
                                  <a href="{% url 'view_profile' ob.user.id %} ">
                                    <div class="item service-item">
                                        <div class="author">
                                            <i><img src="{{ ob.pic.url }}" alt="Author One" height="100" width="100"></i>
                                        </div>
                                        <div class="testimonial-content">
                                            
                                            <h4> {{ob.user}}  </h4>
                                            
                                            <span>  {{ob.bio}}  </span>
                                        </div>
                                    </div>
                                    </a>
                                    {% endfor %}

                                        
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Pro</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Songs uploaded</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{count_my}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Favourite songs</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{count_fav}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hours spent</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>20hrs 24mins</p>
                                            </div>
                                        </div>
                                     
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Followers</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{followers}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Following</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{following}}</p>
                                            </div>
                                        </div>
            
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
        <footer id="contact-us">
            <div class="container">
               
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sub-footer">
                            <p>Copyright &copy; Coffee n Code</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>