{% include 'main/header.html' %}
{% load static %}


<section class="free-quote">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="{% static 'main/images/headphones.png' %}" alt="headphones">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h6>ADD SONG</h6>
            <h2>Fill this form to get started</h2>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">Upload file...
              <div class="col-lg-8">
                <input type="file" id="file" placeholder="" required="" name="file">
              </div>Title of the song...
              <div class="col-lg-8">
                <input type="text" id="title" placeholder="" required="" name="title">
              </div>Album of the song...
              <div class="col-lg-8">
                <input type="text" id="album" placeholder="" required="" name="album">
              </div>Choose a mood (press ctrl to choose multiple) ...
              <div class="col-lg-4">

                  
                  <select name="tags" id="tags" multiple>
                    <option value="happy">Happy</option>
                    <option value="sad">Sad</option>
                    <option value="classical">Classical</option>
                    <option value="romantic">Romantic</option>
                  </select>
                  <br><br><br>

                
              </div>Upload cover photo of the song...
              <div class="col-lg-6">
                <input type="file" id="cover" placeholder="" required="" name="image">
              </div>
              <div class="col-lg-12">
                <button>Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include 'main/footer.html' %}