{% load static %}

    <section class="footer-content">
        <div class="cta-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <h2>Interested to get<br>our full <em>featured</em> services?</h2>
              </div>
              <div class="col-lg-4">
                <div class="main-white-button">
                  <a href="#">Get Started Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-heading">
                  <h4>Oxana</h4>
                </div>
                <p class="about-oxana">Shaman synth retro slow-carb. Vape taxidermy twee, put a bird on it fran xezen celiac unicorn gerstache coloring book.</p>
              </div>
              <div class="col-lg-3">
                <div class="footer-heading">
                  <h4>Useful Links</h4>
                </div>
                <ul class="useful-links">
                  <li><a href="#">About Oxana</a></li>
                  <li><a href="#">Our Services</a></li>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
                <ul class="useful-links">
                  <li><a href="#">Recent Posts</a></li>
                  <li><a href="#">Case Studies</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">FAQ’s</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="footer-heading">
                  <h4>Get In Touch!</h4>
                </div>
                <ul class="more-info">
                  <li>Email: <a href="#">contact@oxana.com</a></li>
                  <li>Phone: <a href="#">+1 547 6877 534</a></li>
                  <li>Address: <a href="#">342 Better Street Peculiar, KS 64078</a></li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="footer-heading">
                  <h4>Find Us</h4>
                </div>
                <p>Shaman synth retro slow-carb. Vape taxidermy twee, put a bird.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
              <div class="col-lg-12">
                <div class="sub-footer">
                  <p>Copyright © 2020 <a href="#">Robert Imeri</a>. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    
     
     
  
      <!-- Go To Top -->
      <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>
  
  
      <!-- Scripts -->
     <script src="{% static 'main/scripts/vendors/jquery-3.4.1.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/jquery.hoverIntent.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/perfect-scrollbar.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/jquery.easing.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/wow.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/parallax.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/isotope.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/imagesloaded.pkgd.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/packery-mode.pkgd.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/owl-carousel.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/jquery.appear.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/jquery.countTo.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/slide-nav.min.js'%}"></script>
      <script src="{% static 'main/scripts/vendors/accordions.js'%}"></script>
     <!-- <script src="{% static 'main/scripts/main.js'%}"></script> -->
     <script src="{% static 'main/scripts/custom.js'%}"></script>
     

{% block javascript %}

<script>

  let c = 1;
  
  function sendCount(id) {
  $.ajax({
      url: "{% url 'index' %}",
      type: "POST",
      data: {
        'count': c,
        'id':id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType: 'json'
    });

  }

  function favButton(id,flag)
  {
    let sid = "#heart"+String(id);

    if (flag=="True")
    {
      console.log('unliked');

      $.ajax({
      url: "{% url 'index' %}",
      type: "POST",
      data: {
        'remove_fav':id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType: 'json'
    });
    $(sid).removeClass("fa-heart");
    $(sid).addClass("fa-heart-o");
    }
    else{
      $.ajax({
      url: "{% url 'index' %}",
      type: "POST",
      data: {
        'add_fav':id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      dataType: 'json'
    });

    }
    $(sid).removeClass("fa-heart-o");
    $(sid).addClass("fa-heart");
    console.log('liked');
  
    console.log("Step 1");
 $(document).ready(function(){
              
             $('#upload-file').change(function() {
                var filename = $(this).val();
                console.log("Step 1");
                $('#file-upload-name').html(filename);
                if(filename!=""){
                    setTimeout(function(){
                        $('.upload-wrapper').addClass("uploaded");
                    }, 600);
                    setTimeout(function(){
                        $('.upload-wrapper').removeClass("uploaded");
                        $('.upload-wrapper').addClass("success");
                    }, 1600);
                }
            });
        });
  }  
</script>
{% endblock %}
      
  
    </body>
  </html>
  