{% include 'main/header.html' %}
{% load static %}


<section class="free-quote">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="{% static 'main/images/headphone.jpeg' %}" alt="headphones">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h6>ADD SONG</h6>
            <h2>Fill this form to get started</h2>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">Upload file...
              <div class="col-lg-8">
                <input type="file" id="file" placeholder="" required="" name="file">
              </div>
              <div class="col-lg-4">
                <input type="text" id="title" placeholder="Title of the song..." required="" name="title">
              </div>
              <div class="col-lg-4">
                <input type="text" id="album" placeholder="Album of the song..." required="" name="album">
              </div>
              <div class="col-lg-4">
                <input type="text" id="tags" placeholder="happy/sad/classical/romantic/chill" required="" name="tags">
              </div>Upload cover photo of the song...
              <div class="col-lg-6">
                <input type="file" id="cover" placeholder="" required="" name="image">
              </div>
              <div class="col-lg-12">
                <button>Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% include 'main/footer.html' %}