{% include 'main/header.html' %}
{% load static %}

    <!-- ***** Header Area End ***** -->

<!-- {% if tab == 1 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#about').offset().top
    }, 'slow');
});
</script>
{% endif %} -->



    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                
                        <h1>Sheet <em>Music Player</em></h1>
                        <p> From private to government, From rules & regulations to registration link, Everything at one place.
                           Subscribe and stay updated! </p> 
                           <form class="form" method="POST">
                            {% csrf_token %}
                            
                            <input class="search-bar" placeholder="Search something....." name="universal_search"></input> <br>
                        <button class="main-button-slider" type="submit" name="search_form" style="border-color: blanchedalmond;">Search Exams</button>
                           </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    

    <div class="row">
      <div class="col-12 pageheading">
          <div class="page-title">My songs</div>
          <div class="subh">All your songs in one place!</div>
      </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="{ % static 'main/assets/images/starboy.jpg' % }" class="card-img-top" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Add to favourites</a>
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
  </div>


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
      <div class="container">
  
 


    <!-- ***** Testimonials Starts ***** -->
    </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>  </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; Coffee n Code</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'main/assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/assets/js/popper.js' %}"></script>
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'main/assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/assets/js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'main/assets/js/custom.js' %}"></script>

</body>
</html>