{% include 'main/header.html' %}
{% load static %}




<li class="menu-item free-quote">
    <div class="main-pink-button">
      <a href="{% url 'add_song_form' %}" role="button" data-toggle="modal" data-target="#exampleModalLong">Add Music</a>
    </div>
  </li>
  
  
        <!-- Recent Cases -->
        <section class="recent-cases">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="section-heading">
                  <h6>All your compositions now available at one place</h6>
                  <h2>Your compositions</h2>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="portfolio-filters">
                  <ul>
                      <li class="active" data-filter="*">Show All</li>
                      <li data-filter=".category-analysis">Happy</li>
                      <li data-filter=".category-digital">Classical</li>
                      <li data-filter=".category-seo">Romantic</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="row masonry-layout filters-content normal-col-gap">
                  {% for obj in my_songs %}
                <div class="col-lg-4 masonry-item all category-analysis">
                  <div class="case-item">
                    <a href="single-project.html">
                    <div class="case-thumb">
                      <img src="{{ obj.cover_image }}" alt="">
                    </div>
                    <div class="down-content">
                      <h4>{{ obj.title }}</h4>
                      <span>{{ obj.user.username }}</span> 
                      <audio controls id="soundPlayer">
                        <source src="{{ obj.file }}" type="audio/mpeg">
                    </audio>
                    </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
             
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-purple-button">
                  <a href="portfolio-v1.html">View All Cases</a>
                </div>
              </div>
            </div>
          </div>
        </section>
  
        {% include 'main/footer.html' %}