{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sheet music player | Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'users/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
<!--===============================================================================================-->

<style>
    .profile-img{
    text-align: center;
    
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -40%;
    width: 100%;
    border: none;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    font-size: 15px;
    background: #212529b8;
    padding-left: 0%;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.col-centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

.row-centered {
    text-align:center;
}

.form-check-input{
    margin-left: auto;
}

.choose{
    color: white;
    font-weight: 1000;
}
.box{
    text-align: center;
}

</style></head>
<body>


	
	<div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'users/images/music2.jpg' %}')">
           
			<div class="wrap-login100 p-t-20 p-b-20">
				<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Success and error messages will be displayed here-->
                    {% include 'users/messages.html' %}

				<!--	<div class="login100-form-avatar">
						<img src="{% static 'users/images/rabbit.jpg' %}" alt="AVATAR">
					</div> -->

					<span class="login100-form-title p-t-20 p-b-45">
						Sheet Music Player
                    </span> 

                        <!-- <span class="something" style="text-align:center">
           
                            <div class="login100-form-avatar">
                            
                                <img src="{% static 'users/images/avatar.png' %}" alt="AVATAR" class="avatar" id="image" >
                            </div>
                        
                            <center><input type="file" id="files" name="image"></center>
                            
                         </span>    -->
                         <div class="row `row-centered" style="text-align: center;" >
                             <div class="centered">
                                
                                <div class="col-md-4 col-centered">
                                    <div class="profile-img">
                                        <img src="{% static 'users/images/avatar2.png' %}" id="image" alt=""/>
                                        <div class="file btn btn-lg btn-primary">
                                        Change Photo
                                        <center><input type="file" id="files" name="image"></center>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                         </div>

                        <span class="login100-form-title p-t-20 p-b-45">
                            Welcome {{ request.user }}
                        </span> 

                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Bio is required">
                            <input class="input100" type="text" name="bio" placeholder="Bio">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                           
                        </div> <br>
                        <div class="box">
                            <br>
                        <p class="choose">Select your favourite genres</p><br>
                        <div class="multiselect">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dance" name="dance" >
                                <label class="form-check-label" for="inlineCheckbox1">Dance</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="inspiration" name="inspiration">
                                <label class="form-check-label" for="inlineCheckbox2">Inspiration</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="rock" name="rock">
                                <label class="form-check-label" for="inlineCheckbox2">Rock</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="classical" name="classical" >
                                <label class="form-check-label" for="inlineCheckbox2">Classical</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="romantic" name="romantic">
                                <label class="form-check-label" for="inlineCheckbox2">Romantic</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="happy" name="happy">
                                <label class="form-check-label" for="inlineCheckbox2">Happy</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="sad" name="sad">
                                <label class="form-check-label" for="inlineCheckbox2">Sad</label>
                            </div>

                        </div>
                        </div>


                        <div class="container-login100-form-btn p-t-10">
                            <button type="submit" name="submit" class="login100-form-btn">
                                Submit
                            </button>
                            </div>
                        
                 

					

					

				</form>
			</div>
		</div>
	</div>
	
	<script>
         document.getElementById("files").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
    </script>

	
<!--===============================================================================================-->	
	<script src="{% static 'users/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'users/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/js/main.js' %}"></script>

</body>
</html>