{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sheet music player | Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'users/images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


	
	<div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'users/images/music2.jpg' %}'')">
           
			<div class="wrap-login100 p-t-20 p-b-20">
				<form class="login100-form validate-form" method="POST">
                    {% csrf_token %}

                    <!-- Success and error messages will be displayed here-->
                    {% include 'users/messages.html' %}

					<div class="login100-form-avatar">
						<img src="{% static 'users/images/rabbit.jpg' %}" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Sheet Music Player
                    </span>

                    
                    
                

                        {% if page == 1 %}

                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                            <input class="input100" type="text" name="username" placeholder="Username">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate = "First name is required">
                            <input class="input100" type="text" name="fname" placeholder="First Name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Last name is required">
                            <input class="input100" type="text" name="lname" placeholder="Last name">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
                            <input class="input100" type="email" name="email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-email"></i>
                            </span>
                        </div>
    
                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
                            <input class="input100" type="password" name="pass" placeholder="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        

                        

                      <div class="container-login100-form-btn p-t-10">
						<button type="submit" name="next" class="login100-form-btn">
							Next
						</button>
                        </div>

                        {%endif%}

                        
                 

					

					

					<div class="text-center w-full p-t-25 p-b-23">
						<a href="#" class="txt1">
							Forgot Username / Password?
                        </a>
                        
					</div>

					<div class="text-center w-full">
						<a class="txt1" href="{% url 'signin' %}">
							Already have an account? Log in here.
							<i class="fa fa-long-arrow-right"></i>						
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'users/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'users/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'users/js/main.js' %}"></script>

</body>
</html>