@font-face {
    font-family: 'azo_sansbold';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/260783/rui_abreu_-_azosans-bold-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/260783/rui_abreu_-_azosans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/260783/rui_abreu_-_azosans-bold-webfont.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/260783/rui_abreu_-_azosans-bold-webfont.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/260783/rui_abreu_-_azosans-bold-webfont.woff') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/260783/rui_abreu_-_azosans-bold-webfont.svg#azo_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.rules{
    color: black;
    background-color: blue;
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    border-radius: 15px;
  }

  .pageheading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 1px;
    padding-bottom: 10px;
    color: #2e2e2e;
    font-weight: 800;
  }
  .subh{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px;
    color: #d15f13;
  }

 
.badge-light{
    font-size:16px;
  }
  #promotion > div > div.jumbotron > p{
  padding:5px;
}
.search-button{
  background-color: #f4813f;
  color:white;
  outline:none;
}
.edit-button{
  background-color: rgb(25, 155, 90);
  color:white;
  position:relative;
  top:-5%;
  left:50%;
  padding:10px;
  border-radius: 70px;
  box-shadow:2px 2px 5px rgb(127, 190, 159);
  
}
.edit-button:hover{
  background-color:white;
  color:rgb(25, 155, 90);
 
}

.video-item {
  position: relative;
  width: 25rem;
  margin-bottom: 1rem;
  max-width: 100%;
}

iframe
{
  width:100%; 
  height:315px; 
}

.section-heading {
  position: relative;
  color: black;
  margin-top: 100px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  margin-bottom:30px;
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: white;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.4;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 10px 9px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 2px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}
#soundPlayer{
  width: 90%;
  padding-top: 10px;
}
.album{
  font-weight: 800;
  color: #d15f13;
}
/*only for centering on the page*/
.btn {
  margin: 0 auto;
  display: block;
}
/*removes ugly bootstrap border button*/
*.btn:active,
.btn:focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
}

button > span {
  color: red;
  font-size:20px;
}

.btn:active {
  box-shadow: none;
}

.btn:active, .btn:hover, .btn:focus {
  background-color:white;
}
.inv{
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.centered-2 {
  position: absolute;
  top: 8px;
  right: 16px;
}
.centered-1 {
  position: absolute;
  top: 8px;
  left: 16px;
}
.song-delete{
  color: red;
  font-size: 1.5rem;
}
.song-update{
  color:#00acc1;
  font-size: 1.5rem;
}
.fa-music{
  color: #e07934;
  font-size: 0.9rem;
}
.logom{
  font-family: 'Dancing Script', cursive;
  margin-left: 5px;
  color: #d15f13;
}
